* {
 box-sizing:border-box
}

body {
  font-family: arial;
  width: 100%;
  min-width:300px;
  padding: 0px;
  margin: 0px;
  height:100%;
}

/* -------------------- Concerne les éléments du header -------------------- */

#header {
 position:fixed;
 z-index:10;
 width:100%;
 height: 160px;
 margin-bottom:30px;
 background-color:#FFF
}

#header .logo {
 display:inline-block;
 height:30px;
 width:200px
}

#header .hall_of_fame {
 position:absolute;
 right:34px;
 top:14px;
 display : flex;
 flex-direction : row;
 width : 200px;
 height: 110px;
 list-style: none;
 justify-content : space-around;
 margin : 0px;
 padding : 0px;
 background-image: url("img/halloffame.png");
 background-repeat:no-repeat;
 background-position:top center;
 text-shadow: 1px 1px 2px white;
}

#red_scarf {
  width:384px;
  margin-top: 10px;
  height:100px;
  text-align:center
}

#tableau {
  width: 150px;
  margin-top: 1px;
  font:16px/22px "playfair-bold",arial;
}

#header nav ul {
  display : flex;
  vertical-align:top;
  width:100%;
  position:absolute;
  bottom:0px;
  left:0px;
  right : 0px;
  padding: 0px;
  height:40px;
  justify-content : space-around;
  align-content: flex-end;
  align-items: center;
  border-bottom: solid 4px black;
  background-color: #d20000;
  list-style: none;
  margin : auto;
  font:16px/22px "playfair-bold",arial;
  text-shadow: 1px 1px 2px white;
  /*border-radius: 100px 100px 0 0;*/
}

a {
  text-decoration: none;
  color : black;
  -webkit-transition:all 0.4s linear;
  transition:all 0.4s linear;
}

a:hover {
 text-decoration:none
}

.padding_1 {
 padding:0px 32px;
}

/* ----- Utilisation de deux polices particulières ----- */

@font-face {
 font-family:'playfair-bold';
 src:url("https://fr.gamescape.fr/css/font/playfair-bold.eot");
 src:url("https://fr.gamescape.fr/css/font/playfair-bold.eot?#iefix") format("embedded-opentype"),
 url("https://fr.gamescape.fr/css/font/playfair-bold.woff2") format("woff2"),
 url("https://fr.gamescape.fr/css/font/playfair-bold.woff") format("woff"),
 url("https://fr.gamescape.fr/css/font/playfair-bold.ttf") format("truetype"),
 url("https://fr.gamescape.fr/css/font/playfair-bold.svg#playfair_displaybold") format("svg");
 font-weight:normal;
 font-style:normal
}

@font-face {
 font-family:'opensans-regular';
 src:url("https://fr.gamescape.fr/css/font/opensans-regular.eot");
 src:url("https://fr.gamescape.fr/css/font/opensans-regular.eot?#iefix") format("embedded-opentype"),
 url("https://fr.gamescape.fr/css/font/opensans-regular.woff2") format("woff2"),
 url("https://fr.gamescape.fr/css/font/opensans-regular.woff") format("woff"),
 url("https://fr.gamescape.fr/css/font/opensans-regular.ttf") format("truetype"),
 url("https://fr.gamescape.fr/css/font/opensans-regular.svg#open_sansregular") format("svg");
 font-weight:normal;
 font-style:normal
}

/* -------------------- Concerne les éléments du corps -------------------- */

#cadre {
  height: 520px;
  border-width:10px;
  border-style:double;
  border-color:#d20000;
}

#mapid {
  position:absolute;
  width: 80%;
  height: 500px;
  z-index: 2;
  display: none;
}

#images {
  position: relative;
  text-align: center;
  float: right;
  width: 20%;
  height: 500px;
}

.center {
 position:relative;
 display:block;
 clear:both;
 width:100%;
 max-width:1200px;
 margin:auto;
}

#instruction {
  padding:20px 30px;
  margin:15px 0px;
  font-size: 15px;
  line-height: 1.5em;
}

#lettre {
  width:600px;
  height: 600px;
  font-size: 13px;
  line-height: 2em;
  font-style: italic;
  text-align:center;
  padding:100px 120px;
  margin:15px 0px;
  background-image: url("img/parchemin.png");
  background-repeat:no-repeat;
}

#signature {
  text-align: right;
}

#corps {
  padding-top: 160px;
}

.illustrations {
  text-align: center;
}

#illustration {
  height: 250px;
  width: auto;
}

h1 {
 width:100%;
 font:30px/30px "playfair-bold",arial;
 text-align:center;
 margin:20px 0px;
 text-shadow:1px 1px 1px #cdcdcb
}

.bloc_texte {
 padding:0px 30px;
 font:18px/28px "opensans-regular",arial;
 text-shadow:1px 1px 1px #cdcdcb
}

.col_1, .col_2, .col_3 {
  display:inline-block;
  vertical-align:top
}

.col_1 {
  width:49%;
}

.col_2 {
  width:49%;
}

.myButton {
    padding: 5px 10px;
    color: #eee;
    border-radius: 4px;
    background-color: #d20000;
    background-image: linear-gradient(#df4c4c, #db3232 50%, transparent 50%);
    box-shadow: 0 1px 0 rgba(255,255,255,.1),
                0 0 1px 1px rgba(255,255,255,.3) inset,
                0 1px rgba(255,255,255,.4) inset;
    border: 1px solid black;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    outline:none;
}

.myButton:hover, .myButton:focus {
    color: white;
    background-color: #df4c4c;
    box-shadow: 0 1px 0 #e46666,
                0 0 1px 1px #e46666 inset,
                0 1px #e46666 inset,
                0 0 5px #e46666;
    border-color: rgba(255, 255, 255, .2);
}

.myButton:active {
    background-color: #e46666;
    box-shadow: 0 1px 2px rgba(0,0,0,.6) inset,
                0 1px 0 rgba(255,255,255,.3);
    border: 1px solid black;
}

#formulaire {
  text-align: center;
}

.formulaire_pseudo {
  padding: 5px 10px;
  border-radius: 4px;
  border-color: #e46666;
}

#fin {
  width:auto;
  height: 500px;
  padding: 50px 50px;
  background-image: url("img/background.jpg");
  display: none;
}

#lupin_end {
  height: 400px;
  width: auto;
  margin-left: 80px;
}

#footer {
 width:100%;
 background-color:#FFF;
 font:36px/36px "playfair-bold",arial;
 font-size: 13px;
 text-align: center;
}

/* ----- Applique de nouveaux style si la largeur de la fenêtre diminue ----- */

@media screen and (max-width: 700px) {
 #header {
  height:260px;
 }
 #red_scarf {
   margin-top: 10px;
   text-align:center
 }
 #header .padding_1 {
  padding:0px
 }
 #header .hall_of_fame {
  position:relative;
  right:auto;
  top:auto;
  width:100%;
  padding:10px 0px;
  text-align:center
 }
 h1 {
  width:100%;
  height: 0px;
  right:auto;
  top:auto;
  font:30px/30px "playfair-bold",arial;
  text-align:center;
  margin:20px 0px;
  padding:100px 10px;
  text-shadow:1px 1px 1px #cdcdcb
 }
 #lupin_end {
   height:20%;
 }
 #texte_fin {
   font-size:50%;
 }
}

@media screen and (max-width: 900px) {
 #mapid {
   position:relative;
   width: 100%;
   height: 400px;
 }
 #lupin_end {
   height:40%;
 }
 #images {
   text-align: left;
   float: none;
   width: 100%;
   height: 100px;
 }
 .img {
   height:100%;
 }
}

@media screen and (max-width: 1250px) {

 .col_1, .col_2 {
   display:block;
   vertical-align:top
 }

 .col_1 {
   width:100%;
 }

 .col_2 {
   width:100%;
 }
 .bloc_texte {
  padding:0px 0px;
 }
 #lupin_end {
   height:50%;
 }
 #texte_fin {
    line-height: normal;
    font-size:70%;
  }
}
